body {
    font-family: "open sans", sans-serif;
}

a, a:hover, a:visited {
    text-decoration: none;
    color: #000;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    width: 100vw;
    background: transparent url('../images/background.svg') repeat center center;
}

.header {
    align-self: flex-start;
    padding: 14px 9px;
}

.header a, .header a:visited {
    color: #08a;
}

.header a:hover {
    color: #069;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
}

.game .board {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.game .board .column {
    padding: 5px;
    background-color: #3987A7;
}

.game .board .column:hover {
    background-color: rgba(255, 255, 255, .25);
}

.game .board .column .spot {
    width: 40px;
    height: 40px;
    margin: 10px 0;
    border-radius: 40px;
    background-color: #FFF;
}


.footer {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 5px;
}

.footer button {
    margin: 5px;
    border-radius: 3px;
    padding: 0 5px;
    font-size: 12px;
    cursor: pointer;
}

.footer button.fb {
    background-color: #3478E8;
    border-color: #3478E8;
    color: #FFF;
}

.footer button.embed {
    background-color: transparent;
    border-color: #3987A7;
    color: #3987A7;
}

.footer button.embed:hover {
    background-color: #3987A7;
    border-color: #3987A7;
    color: #FFF;
}